@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Oswald&display=swap');

body {
    background-color:#474a2c;
    padding:0;
    margin:0;
}

h2 {
    margin:0;
}

header {
    display:flex;
    gap:1em;
    height:100px;
    background-color:rgba(155, 222, 172, .7);
}

#content {
    max-width: 1600px;
    margin:0 auto;
}

nav {
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

nav a {
    text-align: center;
    color:#474a2c;
    text-decoration:none;
    padding:15px;
    border-radius:5px;
}

nav a:hover {
    background-color:#B4E7CE;
    color:#474a2c;
}

.logo {
    margin:10px 10px;
    width:80px;
}

.book {
    background-color:rgba(155, 222, 172, 1);
    color:#474a2c;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    font-size:18px;
}

.join {
    background-color:rgba(155, 222, 172, 1);
    color:#474a2c;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    font-size:18px;
}

.book:hover, .join:hover {
    background-color:#474a2c;
    color:white;
}

.home-title {
    font-family:"Kalam";
    font-size:2em;
    color:white;
}

h4 {
    font-family:"Oswald";
    color:white;
    font-size:2em;
}

#hero-img {
    width:100%;
}

#hero-msg {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    font-family:"Oswald";
    text-align:center;
}

main {
    font-family:"Oswald";
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

main section {
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.card-img {
    max-height:250px;
}

.icon {
    width:80px;
}

#background {
    height:725px;
    width:100%;
    background-color:black
}

#background section {
    width:50%;
}

#background-photo {
    transform:translateY(6em);
    max-height:700px;
}

.msg {
    background-color:#59A96A;
    width:50%;
    height:20em;
    transform:translate(700px, -300px);
    line-height:1.5em;
}

.msg h2 {
    font-family:"Kalam";
    color:white;
}

.msg p {
    font-family:"Oswald";
    color:white;
    font-size:.8em;
}

footer {
    background-color:#59A96A;
    color:#474a2c;
}

footer a {
    color:white;
    text-decoration:none;
}

footer a:hover {
    color:black;
}

footer p {
    font-size:1.2em;
}

footer p a:hover {
    text-decoration:underline;
}