body {
    background-color:#474a2c;
    padding:0;
    margin:0;
}

header {
    display:flex;
    gap:1em;
    height:100px;
    background-color:rgba(155, 222, 172, .7);
}

#container {
    max-width: 1600px;
    margin:0 auto;
}

nav {
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

nav a {
    text-align: center;
    color:#474a2c;
    text-decoration:none;
    padding:15px;
    border-radius:5px;
}

nav a:hover {
    background-color:#B4E7CE;
    color:#474a2c;
}

.logo {
    margin:10px 10px;
    max-height:75px
}

.book {
    background-color:rgba(155, 222, 172, 1);
    color:#474a2c;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
}

.join {
    background-color:rgba(155, 222, 172, 1);
    color:#474a2c;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
}

.book:hover, .join:hover {
    background-color:#474a2c;
    color:white;
}

#hero-img {
    width:100%;
}

#hero-msg {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align:center;
}

main {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

main section {
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.card-img {
    max-height:250px;
}

.icon {
    width:80px;
}

#background {
    height:400px;
    width:100%;
    background-color:black
}

#background section {
    width:50%;
}

#background-photo {
    transform:translate(10px, 50px);
    max-height:700px;
}

.msg {
    position:absolute;
    background-color:#59A96A;
    width:50%;
    height:20em;
    transform:translate(400px, -50px)
}

.msg h2 {
    color:white;
}

.msg p {
    color:white;
}

footer {
    background-color:#59A96A
}

footer a {
    color:white;
}

footer a:hover {
    color:black;
}

footer p {
    font-size:1.2em;
}

footer p a {
    text-decoration:none;
}

footer p a:hover {
    text-decoration:underline;
}