body {
    background-color:#474a2c;
    padding:0;
    margin:0;
}

header {

    background-color:rgba(155, 222, 172, .7);
}

#container {
    max-width: 1600px;
    margin:0 auto;
}
nav a {
    text-align: center;
}

nav a:hover {
    background-color:#B4E7CE;
    color:#474a2c;
}

.book {
    background-color:rgba(155, 222, 172, 1);
    color:#474a2c;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
}

.join {
        background-color:rgba(155, 222, 172, 1);
    color:#474a2c;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
}

.book:hover, .join:hover {
    background-color:#59A96A;
    color:white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align:center;
}

main section {
    text-align:center;
}

#background {
    height:100px;
    width:100px;
    background-color:black
}
