.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
}

header {
    margin:50px 0;
}

img {
    width:80%;
}

p {
    width:80%;
}

nav {
    background-color: steelblue;
}

a {
    color:white;
    font-size:1.5em;
}

footer {
    background-color: steelblue;
    color: white;
}

footer p {
    padding:25px;
}